body {
  width: 100%;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  background: url("../img/americanflag.gif"); }

#content {
  width: 800px;
  margin: 10px auto;
  background: black; }

header h1 {
  text-align: center;
  color: lime;
  font-size: 3.0rem;
  margin: 10px 0; }
header h2 {
  text-align: center;
  font-size: 1.5rem;
  color: red; }
header p {
  width: 300px;
  margin: 0 auto; }
  header p img {
    width: 300px; }

marquee {
  font-size: 1.5rem;
  color: red; }

#intro {
  text-align: center; }
  #intro h2 {
    color: red;
    margin: 10px 0 0 0; }
  #intro p {
    color: yellow; }

nav {
  text-align: center; }
  nav ul {
    list-style: none; }
  nav li {
    font-size: 1.5rem; }

#aboutme p {
  text-align: center;
  color: yellow; }

#pics p {
  text-align: center;
  color: red; }
#pics img {
  width: 100px; }

#diary img {
  display: block;
  margin: 0 auto; }

#hitcounter {
  padding: 5px 0;
  background: #222; }
  #hitcounter p {
    color: white;
    text-align: center;
    font-size: 0.6rem; }

#num {
  font-size: 1.2rem;
  color: red; }

footer {
  color: #555;
  font-size: 0.6rem;
  text-align: center;
  padding: 5px 0; }

form {
  width: 75%;
  margin: 0 auto;
  color: white; }

#guestbook {
  width: 75%;
  margin: 10px auto;
  margin-top: 50px; }
  #guestbook h3 {
    color: white;
    margin: 0; }
  #guestbook h4 {
    margin: 0;
    color: #777; }
  #guestbook #name {
    color: red; }
  #guestbook #date {
    color: blue; }
