body {
  width: 100%;
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  background: url("../img/americanflag.gif"); }

#content {
  width: 800px;
  margin: 10px auto;
  background: black; }

header h1 {
  text-align: center;
  color: lime;
  font-size: 3.0rem;
  margin: 10px 0; }
header h2 {
  text-align: center;
  font-size: 1.5rem;
  color: red; }
header p {
  width: 300px;
  margin: 0 auto; }
  header p img {
    width: 300px; }

#intro {
  text-align: center; }
  #intro h2 {
    color: red;
    margin: 10px 0 0 0; }
  #intro p {
    color: yellow; }

nav {
  text-align: center; }
  nav ul {
    list-style: none; }
  nav li {
    font-size: 1.5rem; }

#aboutme p {
  text-align: center;
  color: yellow; }
