@font-face {
  font-family: 'Franklin Demi';
  src: url("fonts/Franklin-Demi.otf") format("opentype"); }

@font-face {
  font-family: 'Franklin DemiCondensed';
  src: url("fonts/Franklin-DemiCondensed.otf") format("opentype"); }

@font-face {
  font-family: 'Franklin Medium';
  src: url("fonts/Franklin-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Franklin Book';
  src: url("fonts/Franklin-Book.otf") format("opentype"); }

* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  font-family: "Franklin Medium", Helvetica, Arial, sans-serif; }

h2 {
  font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 4%;
  width: 75%;
  margin: 0 auto; }

#content {
  width: 100%;
  height: 100%; }

.slide {
  width: 100%;
  height: 100%; }

#introduction {
  background: url("../img/bg-slide1.png") no-repeat;
  background-size: cover; }
  #introduction h1 {
    font-size: 10.0rem;
    color: #222;
    text-align: center;
    padding-top: 18%; }
  #introduction h3 {
    font-family: "Franklin DemiCondensed", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #222;
    text-align: center;
    padding: 1.2%; }
  #introduction img {
    display: block;
    width: auto;
    margin: 0 auto;
    padding-top: 19%; }

#video {
  background: url("../img/bg-slide2.png") no-repeat;
  background-size: cover; }
  #video article {
    width: 850px;
    height: 480px;
    margin: 4.5% auto;
    background: #fff;
    opacity: 0.5;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
    box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4); }
    #video article img {
      position: relative;
      top: 30%;
      left: 39%;
      opacity: 0.5; }

#steps {
  background: url("../img/bg-slide3.png") no-repeat;
  background-size: cover; }
  #steps #step-container {
    width: 80%;
    height: 100%;
    margin: 0 auto; }
  #steps h2 {
    padding-top: 6%; }
  #steps article {
    display: inline-table;
    width: 20%;
    height: 50%;
    margin: 8% 2%;
    padding: 3% 4%;
    background: url("../img/transparent-white.png");
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
    box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4); }
    #steps article img {
      display: block;
      width: auto;
      margin: 0 auto; }
    #steps article h3 {
      font-family: "Franklin Demi", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 2.0rem;
      text-align: center;
      border-bottom: 2px solid #222;
      width: 80%;
      height: 12%;
      margin: 0 auto; }
    #steps article p {
      font-family: "Franklin DemiCondensed", Helvetica, Arial, sans-serif;
      font-size: 1.0rem;
      padding-top: 4%;
      text-align: center; }

#signup {
  background: url("../img/bg-slide4.png") no-repeat;
  background-size: cover;
  position: relative; }
  #signup h2 {
    line-height: 2.2rem; }
  #signup h3 {
    position: absolute;
    top: 40%;
    left: 36%;
    font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
    font-weight: normal; }

form {
  background: url("../img/transparent-white.png");
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
  box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
  width: 35%;
  height: 30%;
  margin: 4% auto;
  padding: 3% 4% 7% 3%; }
  form p {
    padding: 10px; }
  form input {
    width: 100%;
    padding: 15px 10px 10px 8px;
    border-radius: 4px;
    outline-style: none;
    font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    color: #6794cb;
    letter-spacing: 0.1rem;
    border: none;
    -webkit-box-shadow: inset 2px 2px 4px 0 rgba(200, 200, 200, 0.4);
    box-shadow: inset 2px 2px 4px 0 rgba(200, 200, 200, 0.4); }

#submit {
  width: 30%;
  height: 25%;
  display: block;
  margin: 3% auto;
  padding: 2% 1% 1% 1%;
  background: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
  box-shadow: 4px 4px 5px 0 rgba(200, 200, 200, 0.4);
  transition: background-color 0.2s, color 0.2s;
  font-family: "Franklin DemiCondensed", Helvetica, Arial, sans-serif; }

#submit:hover {
  background-color: #6794cb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s; }

#nav {
  background-color: #fff;
  position: absolute;
  bottom: 5%;
  width: 100%; }
  #nav ul {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    #nav ul li {
      display: inline-block;
      padding: 2% 9%;
      font-family: "Franklin Book", Helvetica, Arial, sans-serif;
      font-size: 1.3rem; }
      #nav ul li a {
        color: #7792b6;
        text-decoration: none;
        transition: color 0.2s; }
      #nav ul li a:hover {
        color: #5d728e;
        transition: color 0.2s; }

footer {
  display: block;
  position: absolute;
  bottom: 1%;
  left: 25%;
  width: 50%;
  text-align: center;
  font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 0.7rem; }
  footer a:link, footer a:visited {
    color: #666;
    text-decoration: none; }
  footer a:hover {
    color: #111; }

#about {
  background: url("../img/bg-about.png") repeat-y;
  background-size: cover; }
  #about h2 {
    font-size: 2.0rem;
    text-align: left;
    width: 75%; }
  #about p {
    font-family: "Franklin Book", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    width: 75%;
    margin: 1% auto; }

.meet {
  width: 20%;
  background: pink; }
