@font-face {
	font-family: 'Fairview';
	src: "fonts/Fairview_SmallCaps.otf";
}

* { margin: 0; padding: 0; }

body, html {
	width: 100%;
	height: 100%;

	font-family: "Fairview", Helvetica, Arial, sans-serif;
}

#content {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
}

#introduction {
	background: url("../img/plaid.jpg");

	h1 {
		font-size: 10.0rem;
		color: #222;
		text-align: center;
		padding-top: 18%;
	}

	h3 {
		font-size: 2.0rem;
		font-weight: normal;
		color: #222;
		text-align: center;
	}

	img {
		display: block;
		width: auto;
		margin: 0 auto;
		padding-top: 18%;
	}

}

#video {
	background: url("../img/shattered-island.gif");

	article {
		width: 850px;
		height: 480px;
		margin: 0 auto;
		padding-top: 8%;
	}
}

#steps {
	background: url("../img/geometry.png");

	#step-container {
		width: 75%;
		height: 100%;
		margin: 0 auto;
	}

	article {
		display: inline-table;
		width: 25%;
		height: 50%;
		margin: 20% 4%;

		img {
			display: block;
			width: auto;
			margin: 0 auto;
		}

		h3 {
			font-size: 3.0rem;
			text-align: center;
			border-bottom: 1px solid #AAA;
		}

		p {
			font-size: 1.3rem;	
			padding-top: 2%;
		}
	}
}

#signup {
	background-color: grey;
}
