@font-face {
	font-family: 'Franklin Demi';
	src: url("fonts/Franklin-Demi.otf") format("opentype");
}

@font-face {
	font-family: 'Franklin DemiCondensed';
	src: url("fonts/Franklin-DemiCondensed.otf") format("opentype");
}

@font-face {
	font-family: 'Franklin Medium';
	src: url("fonts/Franklin-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'Franklin Book';
	src: url("fonts/Franklin-Book.otf") format("opentype");
}

@font-face {
	font-family: 'Franklin Italic';
	src: url("fonts/Franklin-Italic.otf") format("opentype");
}

* { margin: 0; padding: 0; }

body, html {
	font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
}

body {
	background: url("../img/bg-about.png") repeat-y;
	background-size: 100%;
}

h2 {
	font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding-top: 4%;
	margin: 0 auto;
	font-size: 2.0rem;
	text-align: left;
	width: 75%;
}

p {
	font-family: "Franklin Book", Helvetica, Arial, sans-serif;
	font-size: 1.0rem;	
	width: 75%;
	margin: 1% auto;
}

h3 {
	font-family: "Franklin DemiCondensed", Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
	width: 75%;
	margin: 0 auto;
	font-weight: normal;
}

a:link, a:visited {
	font-weight: bold;
	color: #6681a5;	
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: #5d728e;
	transition: color 0.2s;
}

#content {
	position: relative;
}

.slide {

}

header {
	background: url("../img/pair_medium.png") no-repeat;
	background-size: auto;
	background-position: center center;
	width: 100%;
	height: 100px;
	background-color: #fff;
	margin: 2% 0;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

#nav {
	background-color: #fff;
	position: relative;
	width: 100%;

	ul {
		width: 75%;
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			padding: 2% 9%;
			font-family: "Franklin Book", Helvetica, Arial, sans-serif;
			font-size: 1.3rem;

			a {
				color: #7792b6;
				text-decoration: none;
				transition: color 0.2s;
			}

			a:hover {
				color: #5d728e;
				transition: color 0.2s;
			}
		}
	}
}

footer {
	p {
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
		color: #666;
		font-size: 0.7rem;
		margin: 1% 0;
	}

	a:link, a:visited {
		color: #666;
		text-decoration: none;
	}

	a:hover {
		color: #111;
	}
}

#team {
	width: 75%;
	margin: 0 auto;

	h2 {
		margin: 0 auto;
		text-align: center;		
	}
}

.meet {
	display: inline-table;
	width: 25%;
	height: 55%;
	margin: 2.2%;
	padding: 1.7%;
	background: url("../img/transparent-white.png");
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 5px 0 rgba(200,200,200,0.4);
	box-shadow: 4px 4px 5px 0 rgba(200,200,200,0.4);

	img {
		display: block;
		width: 150px;
		margin: 0 auto;
		margin-bottom: 5%;
	}

	h3 {
		width: 75%;
		margin: 0 auto;
	}

	h4 {
		width: 75%;
		margin: 0 auto;
		font-family: "Franklin Italic", Helvetica, Arial, sans-serif;
		border-bottom: 1px solid #BBB;
	}

	p {
		font-size: 0.9rem;
		padding: 1% 0;
	}
}

#testimonials {
	width: 75%;
	margin: 0 auto;
	padding: 0;
}

.couple {
	width: 250px;
	height: 75%;
	display: inline-table;
	margin: 2% 1% 4% 1%;
	padding: 2%;
	background: url("../img/transparent-white.png");
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 5px 0 rgba(200,200,200,0.4);
	box-shadow: 4px 4px 5px 0 rgba(200,200,200,0.4);

	img {
		width: 100%;
		margin-bottom: 3%;
	}

	p {
		margin: 0;
		width: 100%;
		padding: 3% 0;

	}

	.author {
		font-family: "Franklin Italic", Helvetica, Arial, sans-serif;
		font-size: 0.8rem;
		margin-top: -4%;
	}
}

#job-list {
	h3 {
		margin: 0 auto;
	}

	p {
		margin: 0.3% auto;
	}

	.job {
		margin: 1.5% 0;
	}
}

.contact {
	margin: 3% 0;

	h3 {
		font-family: "Franklin Medium", Helvetica, Arial, sans-serif;
		font-size: 1.5rem;
		margin: 0 auto;
	}

	p {
		margin: 0.2% auto;
	}
}