/***********************************************/
/* iPads (portrait and landscape) ----------- */
/**********************************************/

@media screen and (max-width : 1024px) {

#video {
	article {
		width: 720px;
		height: 405px;
	}

		iframe {
			width: 100%;
			height: 100%;
		}
}

#steps {
	article {
		position: relative;
		margin: 2% 1%;
		padding: 1% 3%;
		width: 24.7%;

		img {
			width: 100px;
		}

		h3 {
			font-size: 1.1rem;
			height: 10%;
		}

		p {
			width: 100%;
			font-size: 0.9rem;
		}
	}
}

form {
	height: 35%;
}

#submit {
	width: 50%;
	height: 20%;
}

#submit:active {
	background-color: #6794cb;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

}